<a href="https://colab.research.google.com/github/GabrielAaronCruz/PLNG-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Activities (Week No. 7)**

In [46]:
#Write a program that determines if the input age is qualified to vote or not.
#The qualifying age is 18 years old and above.
age = 12
if age > 18:
  print("The individual's age is 18 y/o is qualified to vote")
else:
  print("The individual is NOT qualified to vote")

The individual is NOT qualified to vote

In [52]:
#Write a program that determines if the input is POSITIVE, NEGATIVE, or ZERO.
num = -15
if num > 0:
  print("Positive")
elif num == 0:
  print("Zero")
else:
  print("Negative")

Negative

**If Statement**

In [2]:
#If Statement
a = 12
b = 100
if a < b:
  print("a is less than b")

a is less than b

In [8]:
#Elif Statement
if a < b:
  print('a is less than b')
elif a > b:
  print("a is greater than b")

a is less than b

In [11]:
#Elif Statement
if a < b:
  print("a is less than b")
elif a > b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is less than b

**Short Hand If Statement**

In [13]:
#Short Hand If Statement
c = 10
d = 5
if c > d: 
  print("c>d")

c>d

In [20]:
#Short Hand If... Else Statement
print('c>d') if c>d else print('d>c')

c>d

**And Statement**

In [21]:
#And Statement
if 5 > 10 and 8 > 4:
  print("both statement are true")
else:
  print("one of the statements is false /both statement are not true")

one of the statements is false /both statement are not true

**Or Statement**

In [24]:
#Or Statement
if 5 > 10 or 4 > 8:
  print("True")
else:
  print("False")

False

**Bitwise operator**

In [25]:
#Bitwise operator ^ (XOR)
e = 4 #0100 in binary
f = 2 #0010 in binary
e ^ f

6

**Nested If Statement**

In [27]:
#Nested If Statement
x = 41
if x > 10:
  print("Number is above 10")
  if x > 20:
    print("Number is above 20")
    if x > 30:
      print("Number is above 30")
      if x > 40:
        print("Number is above 40")
        if x > 50:
          print("Number is above 50")
        else:
           print("Number is less than 50")
      else:
        print("Number is less than 40")

Number is above 10
Number is above 20
Number is above 30
Number is above 40
Number is less than 50

In [28]:
#Nested If Statement
x = 39
if x > 10:
  print("Number is above 10")
  if x > 20:
    print("Number is above 20")
    if x > 30:
      print("Number is above 30")
      if x > 40:
        print("Number is above 40")
        if x > 50:
          print("Number is above 50")
        else:
           print("Number is less than 50")
      else:
        print("Number is less than 40")

Number is above 10
Number is above 20
Number is above 30
Number is less than 40

**For Loop Statement**

In [30]:
#For Loop Statement
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [33]:
#For Loop Statement
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for y in week:
  print(y)
  if y == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [34]:
#For Loop Statement
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for y in week:
  if y == "Thursday":
    break
  print(y)

Sunday
Monday
Tuesday
Wednesday

**Range () Function**

In [35]:
#Range () Function
for x in range(2,6):
  print(x)

2
3
4
5

In [36]:
#Range () Function
for x in range(2,6,2):
  print(x)

2
4

In [37]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [41]:
i = 1
while i <= 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3